<app-title [title]="title"></app-title>

<div class="content">
    <div class="mx-auto p-2 btn-group" role="group">
        <button type="button" class="btn btn-success" (click)="openModal()">Create</button>
    </div>

    <div class="m-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">CPF</th>
                    <th scope="col">Code</th>
                    <th scope="col">Value</th>
                    <th scope="col">Cashback Value</th>
                    <th scope="col">Cashback Pecentage</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sale of sales">
                    <td>{{sale.cpf}}</td>
                    <td>{{sale.code}}</td>
                    <td>{{sale.value | currency:'BRL'}}</td>
                    <td>{{sale.cashbackValue | currency:'BRL'}}</td>
                    <td>{{sale.cashbackPercentage / 100 | percent}}</td>
                    <td>{{sale.status}}</td>
                    <td>{{sale.data | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>
                        <button class="btn btn-success" (click)="openModal(sale)">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                        <button class="btn btn-danger" (click)="openDialog(sale.code)">
                            <fa-icon [icon]="faEraser"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>